$primary-font: "Open Sans", sans-serif;
$secundary-font: "Archivo Narrow", sans-serif;

$background-colour: #e5e5e5;
$card-colour: #f4f3ee;
$colour-pink: #c32c72;
$colour-white: #ffff;
$colour-dark-grey: #6a6a6a;
$colour-light-grey: #e2e2e2;
$colour-medium-grey: #8d8d8d;
